<section class="comment-card">
  <!-- The contents of the destination card links to the destination page using the destination ID -->
  
    <!-- The card contains the destination name as the card header -->
    <header>{{destination.location_name}}</header>
    {{!-- <h1>{{location_name}}</h1>
    <h1>{{destination.location_name}}</h1> --}}
    <!-- In the body of the card, the desination is rendered along with TBD -->


<div class="card-body" class+"col-md-4" id="container">
        
      <h5 id='content'>{{content}}</h5>
          
    
    {{!-- <a href="/destinations/{{id}}">
      <p class="clickme">
        Click to view comments
      </p>
    </a> --}}
</div>
 
</section>