<section class="card">
  <!-- The contents of the destination card links to the destination page using the destination ID -->
  <a href="/destinations/{{id}}">
    <!-- The card contains the destination name as the card header -->
    <header>{{destinations.location_name}}</header>
    <!-- In the body of the card, the desination is rendered along with TBD -->
<h5>{{location_name}}</h5>




    {{!-- <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>By: {{artist}}</p>
    </div> --}}

  </a>
</section>