<section class="card">

  {{!-- <a href="/user/{{id}}"> --}}
    <header><h3>🛫{{destination.location_name}}🛬</h3></header>


    <div class="card-body" class+"col-md-4" id="container">
        
      
      <p>From:{{start_date}}</p>
      <p>To:{{end_date}}</p>
      <p>Trip budget:{{trip_budget}} </p>
      <p>Hotel costs:{{hotel_cost}} </p>
      <p>Food costs:{{food_cost}} </p>
      <p>Entertainment costs: {{ent_cost}}</p>
      <p>Misc costs:{{misc_cost}}</p>
      <p>Trasport costs:{{transport_cost}}</p>
      <h5 class="total">Trip total:{{tripCost}}</h5>
      <select class="dropdwn" id="dropdown">
        <option value="CAD">CAD</option>
        <option value="USD">USD</option>
        <option value="GBP">GBP</option>
      </select>
      <button class="exbtn">Get Currency Conversion</button>
    </div>
  {{!-- </a> --}}
</section>

{{!-- 💱 --}}