<section class="card">

  <a href="/user/{{id}}">
    <header>{{destination.location_name}}</header>


    <div class="card-body">
        
      
      <p>{{start_date}}</p>
      <p>{{end_date}}</p>
      <p>{{trip_budget}} trip budget</p>
      <p>{{hotel_cost}} Hotel cost</p>
      <p>{{food_cost}} food cost</p>
      <p>{{ent_cost}}entertainment cost</p>
      <p>{{misc_cost}}Misc costs</p>
      <p>{{transport_cost}}Trasport cost</p>
      <p>{{tripCost}} trip total</p>
    </div>
  </a>
</section>