<section class="card">

  {{!-- <a href="/user/{{id}}"> --}}
    <header><h3>🛫{{destination.location_name}}🛬</h3></header>


    <div class="card-body" class="col-md-4" id="container">
        
      
      <p>From:{{start_date}}</p>
      <p>To:{{end_date}}</p>
      <p>Trip Budget:{{trip_budget}} </p>
      <p>Hotel Costs:{{hotel_cost}} </p>
      <p>Food Costs:{{food_cost}} </p>
      <p>Entertainment Costs: {{ent_cost}}</p>
      <p>Misc. Costs:{{misc_cost}}</p>
      <p>Transport Costs:{{transport_cost}}</p>
      <h5 class="total">Trip Total:{{tripCost}}</h5>
      <button type="submit" class="btn bg-transparent btn-outline-dark btn-sm mx-2 my-1 updateBtn" data-id="{{id}}">Update</button>
      <button type="submit" class="btn bg-transparent btn-outline-dark btn-sm mx-2 my-1 deleteBtn" data-id="{{id}}">Delete</button>

    </div>
  {{!-- </a> --}}
</section>

{{!-- 💱 --}}